.cls-1 {
  fill: #a67171;
}

.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9,
.cls-10,
.cls-11 {
  stroke-width: 3px;
}

.cls-1,
.cls-3,
.cls-4,
.cls-7,
.cls-12 {
  stroke: #4c241d;
}

.cls-2 {
  fill: #4a6680;
}

.cls-2,
.cls-5,
.cls-6,
.cls-13,
.cls-8,
.cls-9,
.cls-10,
.cls-11 {
  stroke: #333;
}

.cls-14,
.cls-15 {
  stroke: #000;
}

.cls-14,
.cls-15,
.cls-16,
.cls-17,
.cls-18,
.cls-19 {
  stroke-miterlimit: 10;
}

.cls-14,
.cls-16,
.cls-13,
.cls-18,
.cls-10,
.cls-19,
.cls-12 {
  fill: none;
}

.cls-15,
.cls-20 {
  fill: #34485c;
}

.cls-3,
.cls-21 {
  fill: #6b4f5b;
}

.cls-22,
.cls-23,
.cls-24,
.cls-25,
.cls-26,
.cls-21,
.cls-20,
.cls-27,
.cls-28,
.cls-29 {
  stroke-width: 0px;
}

.cls-23 {
  fill: #1e182c;
}

.cls-4 {
  fill: #b5a19c;
}

.cls-5 {
  fill: #68817a;
}

.cls-6 {
  fill: #9695c9;
}

.cls-16 {
  stroke: #fff;
  stroke-linecap: round;
}

.cls-24 {
  fill: #576d7e;
}

.cls-17 {
  fill: #3d465c;
}

.cls-17,
.cls-18,
.cls-19 {
  stroke: #34485c;
}

.cls-7 {
  fill: #e66353;
}

.cls-25 {
  fill: #6b7d5b;
}

.cls-26 {
  fill: #7383bf;
}

.cls-13,
.cls-12 {
  stroke-width: 4.5px;
}

.cls-30 {
  fill: #333;
}

.cls-30,
.cls-31 {
  font-family: Montserrat-ExtraBold, Montserrat;
  font-size: 36px;
  font-weight: 700;
  isolation: isolate;
}

.cls-8 {
  fill: #4ade80;
}

.cls-9 {
  fill: #a78bfa;
}

.cls-27 {
  fill: #556080;
}

.cls-19 {
  stroke-width: 5px;
}

.cls-28 {
  fill: #df3800;
}

.cls-29 {
  fill: #434c6d;
}

.cls-11 {
  fill: #998ac1;
}

.cls-31 {
  fill: #4c241d;
}
